<h2><%= @survey %></h2>

<% if current_user.admin %>
        <h4><%= @questions.content %></h4>
    <table class="highlight bordered">
    <thead>
          <tr>
              <th>Rating</th>
              <th>Comment</th>
          </tr>
        </thead>
        <tbody>
        <% @answer.each do |a| %>
        <tr>
            <td><strong><%= a.rating %></strong></td>
            <td> <%= a.comment %></td>
        </tr>
    <% end %>
        </tbody>
    </table>
        <br>

        <%= link_to 'Back to Questions', "/surveys/#{@questions.survey.id}", :class => "actions btn waves-effect blue darken2" %>
<% else %>
    <h4><%= @question.content %></h4>
<% end %>

<div>
    <% if current_user.admin %>
    <% else %>
    <%= form_for [@question, @answer] do |f| %>
        <%= hidden_field_tag :index, params[:index] %>
        <%= f.label :"rating if Applicable"%>
        <%= f.text_field :rating %>
        <%= f.label :comment %>
        <%= f.text_field :comment %>
          <button class="actions btn waves-effect blue darken2" type="submit"><%= f.submit "Next Question" %>  <i class="material-icons right"></i></button>
    <% end %>
    <% end %>
</div>



