
<h3>Surveys</h3>
<%= flash[:notice] %>
<% if @surveys.length == 0 %>
    <h3>You have no surveys yet!</h3>
<% else %>
    <table class="highlight bordered">
    <% @surveys.each do |survey| %>
        <tr>
            <% if current_user.admin %>
                <td class="listItems"><%= link_to survey.name, survey_path(survey) %></td>
                <td><%= link_to 'DELETE', survey, :class => "actions btn waves-effect red darken2", method: :delete %></td>
            <% else %>
                <td class="listItems"><%= survey.name %><td>
                <td><%= link_to 'Start Survey', question_path(survey, index: 0), :class => "actions btn waves-effect blue darken2" if survey.questions.count > 0 %></td>
            <% end %>
        </tr>
    <% end %>
    </table>
   
<% end %>
    <% if current_user.admin %>
        <br>
        <%= link_to 'New Survey', new_survey_path, :class => "actions btn waves-effect blue darken2" %>
    <% end %>
